* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
    }
    section {
      position: relative;
      min-height: 100vh;
      width: 100%;
      background: #121321;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      perspective: 1000px;
    }
    section::before, section::after {
      content: "";
      position: absolute;
      height: 240px;
      width: 240px;
      border-radius: 50%;
    }
    section::before {
      transform: translate(-150px, -100px);
      background: linear-gradient(90deg, #c521e2, #f3f5f5);
    }
    section::after {
      transform: translate(150px, 100px);
      background: linear-gradient(90deg, #d193dc, #f3f5f5);
    }
    .container {
      position: relative;
      height: 225px;
      width: 375px;
      z-index: 100;
      transition: 0.6s;
      transform-style: preserve-3d;
    }
    .container:hover {
      transform: rotateY(180deg);
    }
    .card {
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 25px;
      backdrop-filter: blur(25px);
      background: rgba(255, 255, 255, 0.1);
      box-shadow: 0 25px 45px rgba(0, 0, 0, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.1);
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      backface-visibility: hidden;
    }
    header, .logo {
      display: flex;
      align-items: center;
    }
    header {
      justify-content: space-between;
    }
    .logo img {
      width: 48px;
      margin-right: 10px;
    }
    h5 {
      font-size: 16px;
      font-weight: 400;
      color: #fff;
    }
    .chip {
      width: 45px;
      height: 50px;
    }
    .card-details {
      display: flex;
      align-items: center;
      margin-top: 40px;
      justify-content: space-between;
      color: #fff;
    }
    .name-number h6, .valid-date h6 {
      font-size: 12px;
      opacity: 0.8;
      margin-bottom: 5px;
    }
    .name-number h5, .valid-date h5 {
      font-size: 16px;
    }
    .card.back-face {
      border: none;
      padding: 15px 25px 25px 25px;
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      background: rgba(255, 255, 255, 0.1);
    }
    .card.back-face h6 {
      font-size: 10px;
    }
    .card.back-face .magnetic-strip {
      position: absolute;
      top: 45px;
      left: 0;
      height: 45px;
      width: 100%;
      background: #121321;
    }
    .card.back-face .signature {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 80px;
      height: 40px;
      width: 85%;
      border-radius: 6px;
      background: repeating-linear-gradient(
        #fff,
        #fff 3px,
        #efefef 0px,
        #efefef 9px
      );
    }
    .signature i {
      color: #121321;
      font-size: 12px;
      padding: 4px 6px;
      border-radius: 4px;
      background-color: #fff;
      margin-right: -30px;
      z-index: 1;
    }
    .card.back-face h5 {
      font-size: 10px;
      margin-top: 15px;
    }